html {
  background-color: azure;
  color: #555454;
}

body {
  margin-top: 20px;
}

h1 {
  font-size: 35px;
  text-align: center;
  margin: 30px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin: 40px auto 20px;
}

h3 {
  font-size: 16px;
  text-align: center;
  margin: 15px;
}

h4 {
  font-size: 16px;
  text-align: center;
  margin: 40px auto 20px;
}

p {
  font-size: 16px;
  text-align: center;
  margin: 15px;
}

ul {
  width: 400px;
  margin: 0 auto;
}

ul li {
  text-align: center;
  line-height: 1.5;
}

ol {
  line-height: 1.25;
  list-style: decimal;
  padding-left: 70px;
}

strong {
  font-weight: bold;
}

.list {
  width: 300px;
  margin: 0 auto;
}

#name-line {
  width: 75px;
}

#name-line-top-margin {
  width: 150px;
  margin-top: 25px;
}